---
import img from "../img/64.png"
import Country from "../components/Country.astro"
const response = await fetch("https://api.covid19api.com/summary")
const covidData = await response.json()
const countries = Array.from(covidData.Countries)
console.log(countries)
---

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<h1>COVID global statistics</h1>
<section class="countries">
    {countries.map(country => (

        <Country img={`https://flagsapi.com/${country["CountryCode"]}/flat/64.png`} country={country["Country"]} confirmed={country["TotalConfirmed"]}/>
    ))}
</section>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Sofia Sans', sans-serif;
    }
    .countries {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(10, 1fr);
    }
</style>
